  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 cartes-rassurage-container">
      <div class="cartes-rassurage">
        <div>
          <%= image_tag('quality.png' , class: "icon-rassurage") %>
        </div>
        <div class="text-rassurage">
          <h1>100% des produits de nos créateurs sont uniques</h1>
        </div>
      </div>
    </div>
      <div class="col-xs-12 col-sm-4 col-md-2 cartes-rassurage-container">
      <div class="cartes-rassurage">
        <div>
          <%= image_tag('security.png'  , class: "icon-rassurage" )%>
        </div>
        <div class="text-rassurage">
          <h1>Paiment securise</h1>
        </div>
      </div>
    </div>
      <div class="col-xs-12 col-sm-4 col-md-2 cartes-rassurage-container">
      <div class="cartes-rassurage">
        <div>
          <%= image_tag('discuss-issue.png'  , class: "icon-rassurage" )%>
        </div>
        <div class="text-rassurage">
          <h1>A votre Ecoute</h1>
        </div>
      </div>
    </div>
      <div class="col-xs-12 col-sm-4 col-md-2 cartes-rassurage-container">
      <div class="cartes-rassurage">
        <div>
          <%= image_tag('box.png'  , class: "icon-rassurage" )%>
        </div>
        <div class="text-rassurage">
          <h1>Retour Gratuit</h1>
        </div>
      </div>
    </div>
      <div class="col-xs-12 col-sm-4 col-md-2 cartes-rassurage-container">
      <div class="cartes-rassurage">
        <div>
          <%= image_tag('review.png'  , class: "icon-rassurage" )%>
        </div>
        <div class="text-rassurage">
          <h1>Satisfait ou remboursé</h1>
        </div>
      </div>
  </div>
</div>
<div class="informations-legales-div">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 black-card">
        <div class="black-text">
          <h1>INFORMATIONS LEGALES</h1>
          <ul>
            <li>Guide du créateur</li>
            <li>Guide de l'acheteur</li>
            <li>Contact</li>
            <li>CGV / CGU</li>
            <li>Mentions légales</li>
            <li>Rejoingnez-nous en tant qu'artisan</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3 black-card">
          <div class="black-text">
            <h1>ON PARLE DE NOUS DANS :</h1>
            <ul>
              <li>Préparez Noel avec nous dans le Marais, à Paris !</li>
              <li>Zankyou</li>
              <li>La Parisienne</li>
              <li>Soo Deco</li>
            </ul>
            <h1>PRESSE</h1>
            <ul>
              <li>DOSSIER DE PRESSE</li>
            <ul>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 black-card">
            <div class="black-text">
              <h1>A PROPOS</h1>
              <p>L'atelier des créateurs est la première plateforme 100 % Deco qui met en relation amoureux des beaux objets et créateurs passionnés !</p>
              <p>Lire la suite</p>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 black-card">
              <div class="black-text">
                <h1>NEWSLETTER</h1>
                <p>Inscrivez-vous à notre newletter</p>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 black-card">
                <div class="black-text">
                  <h1>SUIVEZ NOUS</h1>
                  <div class="footer-links">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </div>
                  <ul>
                  <li>Inscrivez-vous à notre newletter</li>
                  </ul>
                  <div class="newletter">
                    <form class="newletter-form" method="get" >
                      <input type="email" value="" placeholder="Mon Email">
                      <button type="submit" name="loginclient"> Ok </button>
                    </form>
                  </div>
                </div>
              </div>
    </div>
  </div>




